*.o
*.a
*~
*.swp
*.orig
*.project
*.cproject
*.gcov
*.gcda
*.gcno
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
dox.err
libcn/dox
internal/test/test
internal/test/coverage_results/
internal/test/plmn.operator.nitz.list
internal/test/*.txt
