com.stericsson.sdk.backend.build/scripts/check-driver-version.* -crlf
windows-usb-driver/*.txt -crlf
windows-usb-driver/installer/*.txt -crlf
windows-usb-driver/installer/*.xml -crlf
windows-usb-driver/installer/data/*.inf -crlf
windows-usb-driver/installer/data/*.txt -crlf
