bin
build
Debug
release
com.stericsson.sdk.backend.build/test
/w
cobertura.ser
code-coverage-report
checkstyle-report
.cproject
backend.log
gdfsRead2.gdf
tempErrorCodes.tmp
sw.a01
com.stericsson.sdk.backend.build/dependencies/cobertura
com.stericsson.sdk.backend.build/dependencies/easymock
com.stericsson.sdk.backend.build/dependencies/checkstyle
flash-kit-tools
com.stericsson.sdk.equipment.io.uart/jni/*.obj
com.stericsson.sdk.equipment.io.usb/jni/*.obj
com.stericsson.sdk.loader.communication/jni/*.obj
com.stericsson.sdk.equipment.io.usb.linux32/libusb_jni.so
com.stericsson.sdk.equipment.io.usb.linux64/libusb_jni_x64.so
com.stericsson.sdk.equipment.io.uart.linux32/libuart_jni.so
com.stericsson.sdk.equipment.io.uart.linux64/libuart_jni_x64.so
com.stericsson.sdk.loader.communication.linux32/liblc_jni.so
com.stericsson.sdk.loader.communication.linux64/liblc_jni_x64.so
*.java.BACKUP.*.java
*.java.LOCAL.*.java
*.java.REMOTE.*.java
tool_version.txt
tools_version.txt
*.orig
