# -*- Mode: Makefile -*-
# vim:syntax=make:

# Config to be called from h264dec* directories

export MODULE
MODULE = ../..

CORE=arm
include $(MMROOT)/video/makefiles/Make.nmf.config

#FIXME : not working, DEP_DEP missing in nmf generic makefiles
DEP_DEP += $(MMROOT)/video/components/common/nmf/arm/inc/host_hamac_pipe_generic.hpp 	\
	$(MMROOT)/video/components/common/nmf/arm/inc/host_input_control.hpp 		\
	$(MMROOT)/video/components/h264dec/arm_nmf/decoder/inc/host_hamac_pipe.hpp	\
	$(MMROOT)/video/components/h264dec/arm_nmf/decoder/inc/host_decoder.parameter.hpp

# to create a lib
NMFCONFC +=--cpp 


CFLAGS += -g
CPPFLAGS += -g
ifeq ($(SELECTED_CONF),_sw) 
CPPFLAGS +=  -DNO_HAMAC
endif

ifdef NO_VFM
CPPFLAGS +=  -DNO_VFM
endif

CPPFLAGS += -D_CACHE_OPT_
#CPPFLAGS += -DHACK_DISABLE_HED

COMPONENTS+= h264dec.arm_nmf.h264dec$(SELECTED_CONF)
CONFFILES = h264dec/arm_nmf/decoder/decoder.conf h264dec/arm_nmf/h264dec$(SELECTED_CONF)/h264dec$(SELECTED_CONF).conf resource_manager/resource_manager.conf 
CONFFILES += h264dec/arm_nmf/parser/parser.conf
INSTALL_LIB = h264dec$(SELECTED_CONF).lib


CPPFLAGS+= -D__H264DEC__
CPPFLAGS+= -DNMF_BUILD
CPPFLAGS+= -I../inc
ifneq ($(findstring linux,$(PLATFORM)),linux)
CPPFLAGS+= -I$(MMROOT)/shared/nmf/think/api 
endif
CPPFLAGS+= -I$(MMROOT)/shared/nmf/osintegration/hostsrc/inc
CPPFLAGS+= -I$(MMROOT)/video/include
CPPFLAGS+= -I$(MMROOT)/shared/include
CPPFLAGS+= -I$(MM_NMF_REPO_BOARD_DIR)
CPPFLAGS+= -I$(MMROOT)/video/components/common/nmf/arm/inc
CPPFLAGS+= -I$(TMPDIR)/h264dec_arm_nmf_h264dec$(SELECTED_CONF)/src/h264dec/arm_nmf/
// CPPFLAGS += -DPACKET_VIDEO_SUPPORT

ifeq ($(findstring linux,$(PLATFORM)),linux)
ifeq ($(findstring 5500,$(PLATFORM)),5500)
CPPFLAGS += -g 
CPPFLAGS+= -I$(MMROOT)/video/components/common/inc
CPPFLAGS+= -I$(MMROOT)/video/components/hva_drv/inc
CPPFLAGS+= -I$(MMROOT)/video/components/hva_drv/inc/fsm
CPPFLAGS+= -I$(MMROOT)/video/components/hva_drv/arm_nmf/hva/inc
CPPFLAGS+= -I$(MMROOT)/video/components/hva_drv/arm_nmf/notifier/inc
endif
endif
ifeq ($(findstring svp,$(PLATFORM)),svp)
    CPPFLAGS += -DUSE_TLM
endif

SRCPATH+= 	$(MM_IDT_DIR)
SRCPATH+= 	$(MMROOT)/video/vfm/include
#local idt files 
SRCPATH+=	$(MMROOT)/video/components/h264dec/mpc/share/$(SVA_SUBSYSTEM)
SRCPATH+=   $(MMROOT)/video/components/h264dec/mpc/share
SRCPATH+=   $(MMROOT)/video/components/h264dec/arm_nmf/api
SRCPATH+=   $(MMROOT)/shared/nmf/tools/api/mpcee
#SRCPATH+=   $(MMROOT)/shared/nmf/tools/api/smpee

first_target : $(CONFFILES)  all
include $(MMROOT)/video/makefiles/Make.nmf.rules

