# -*- Mode: Makefile -*-
# vim:syntax=make:

# Config to be called by makefiles from proxynmf and proxynmf_sw
export MODULE
MODULE = ../..
CORE = arm

ifdef NO_HAMAC
CPPFLAGS   += -DNO_HAMAC
SUFFIX      = _sw
else
SUFFIX      = 
endif

include $(MMROOT)/video/makefiles/Make.nmf.config
COMPONENT_TOP_DIR=../..

# Generic Data Dep (ens/nmf/host)
SRCPATH  += $(NMF)/$(MMSYSTEM)/api
SRCPATH  += $(MMROOT)/video/components
SRCPATH  += $(MM_IDT_DIR)
SRCPATH  += $(MMROOT)/video/include
SRCPATH  += ../../mpc/share/$(SVA_SUBSYSTEM)
SRCPATH += ../api
SRCPATH += $(MMROOT)/shared/nmf/tools/api/mpcee

CPPFLAGS += -I../inc
CPPFLAGS += -I../api
CPPFLAGS += -I..
ifeq ($(findstring 5500,$(PLATFORM)),5500)
CPPFLAGS += -I$(MMROOT)/shared/nmf_repository/cortexA9-x-gnu-x
endif
CPPFLAGS += -I$(MMROOT)/video/vfm
// CPPFLAGS += -DPACKET_VIDEO_SUPPORT

# OST capability
include ../../make.ost_conf
OST_SRC_DIR = ../ddep/src ../decoder/src
OST_COMPONENT_ID = $(OST_COMPONENT_ID_NMF_ARM)
OST_DICO_NAME = $(OST_COMPONENT_NAME)_nmf_arm
CPPFLAGS  += -I$(MMROOT)/video/components/h264dec/inc/autogentraces


ifneq ($(MYMMSYSTEM),symbian)
CPPFLAGS += -I$(MMROOT)/shared/include
CPPFLAGS += -I$(MM_NMF_REPO_BOARD_DIR)
CPPFLAGS += -I$(MMROOT)/video/include
CPPFLAGS += -I$(MM_IDT_DIR)
endif
CPPFLAGS += -I$(MMROOT)/video/components/common/nmf/arm/inc

CPPFLAGS += -DNMF_BUILD
CPPFLAGS += -D__H264DEC__
CPPFLAGS += -D_CACHE_OPT_
#CPPFLAGS += -DHACK_DISABLE_HED

ifeq ($(findstring linux,$(PLATFORM)),linux)
ifeq ($(findstring 5500,$(PLATFORM)),5500)
#TODO link all inc in video/include
    CPPFLAGS += -I$(MMROOT)/video/components/common/inc
    CPPFLAGS += -I$(MMROOT)/video/components/common/nmf/idt
    CPPFLAGS += -I$(MMROOT)/video/components/hva_drv/inc
    CPPFLAGS += -I$(MMROOT)/video/components/hva_drv/arm_nmf/hva/inc
    CPPFLAGS += -I$(MMROOT)/video/components/hva_drv/arm_nmf/notifier/inc
    #TODO remove SRCPATH+= (when svp5500 platform is supported)
    CPPFLAGS += -g
endif
endif
ifeq ($(findstring svp,$(PLATFORM)),svp)
    CPPFLAGS += -DUSE_TLM
endif

## List of generated files from .gconf files
CONFFILES = h264dec/arm_nmf/ddep/ddep.conf
CONFFILES += resource_manager/resource_manager.conf
CONFFILES += h264dec/arm_nmf/h264dec$(SUFFIX)/h264dec$(SUFFIX).conf
CONFFILES += h264dec/arm_nmf/proxynmf$(SUFFIX)/proxynmf$(SUFFIX).conf 
CONFFILES += h264dec/arm_nmf/decoder/decoder.conf

COMPONENTS = h264dec.arm_nmf.proxynmf$(SUFFIX) 
ifndef NO_HAMAC
COMPONENTS += h264dec.mpc.composite.h264decmpc
endif

INSTALL_LIB = proxynmf$(SUFFIX).lib

GROUP_PATH = $(MMROOT)/video/components/h264dec
ifdef NO_HAMAC
GROUP_NAME = $(SYMBIAN_VARIANT_NAME)/group/sw
SYMBIAN_PRJNAME = h264swproxynmf
else
GROUP_NAME = $(SYMBIAN_VARIANT_NAME)/group/hw
SYMBIAN_PRJNAME = h264hwproxynmf
endif

SYMBIAN_COMPONENTS  = proxynmf$(SUFFIX)
SYMBIAN_COMPONENTS += h264decmpc

SYMBIAN_EXTRA_MMP_FLAG += "SMPSAFE"
SYMBIAN_EXTRA_MMP_FLAG += "OPTION armcc --cpp"

SYMBIAN_SYSTEMINCLUDE +=/epoc32/include/assp/nomadik/nmf/share
SYMBIAN_SYSTEMINCLUDE +=/epoc32/include/osi/shared
SYMBIAN_SYSTEMINCLUDE +=/epoc32/include/osi/shared/nmf
SYMBIAN_SYSTEMINCLUDE +=/epoc32/include/osi/shared/host
SYMBIAN_SYSTEMINCLUDE +=/epoc32/include/osi/video

# Should be generated by nmf
SYMBIAN_USERINCLUDE_EXTRA += "../../../arm_nmf/api"
SYMBIAN_USERINCLUDE_EXTRA += "../../../.."
SYMBIAN_USERINCLUDE_EXTRA += "../../../nmf_repository/generated"
SYMBIAN_USERINCLUDE_EXTRA += "../../../nmf_repository/generated/h264dec/arm_nmf"
SYMBIAN_USERINCLUDE_EXTRA += "../../../nmf_repository/generated/proxynmf$(SUFFIX)"
SYMBIAN_USERINCLUDE_EXTRA += "../../../nmf_repository/generated/proxynmf$(SUFFIX)/src"
SYMBIAN_USERINCLUDE_EXTRA += "../../../nmf_repository/generated/proxynmf$(SUFFIX)/src/h264dec/arm_nmf"
SYMBIAN_USERINCLUDE_EXTRA += "../../../nmf_repository/generated/h264decmpc/src"

ifeq ($(SYMBIAN_VARIANT_TAG), ST_8500ED)
SYMBIAN_USERINCLUDE_EXTRA += "../../../mpc/share/ndk8500_ed"
endif
ifeq ($(SYMBIAN_VARIANT_TAG), ST_8500V1)
SYMBIAN_USERINCLUDE_EXTRA += "../../../mpc/share/ndk8500_a0"
endif
ifeq ($(SYMBIAN_VARIANT_TAG), ST_8500V2)
SYMBIAN_USERINCLUDE_EXTRA += "../../../mpc/share/ndk8500_a0"
endif

ifeq ($(MYMMSYSTEM),symbian)
EXTRA_ALL=symb-libmmp
endif

#-------------------------------
# Generic Rules
#-------------------------------
include $(MMROOT)/video/makefiles/Make.nmf.rules
include $(MMROOT)/video/makefiles/Make.symbian.rules

