# Copyright (C) ST-Ericsson SA 2010. All rights reserved.
# This code is ST-Ericsson proprietary and confidential.
# Any use of the code for whatever purpose is subject to
# specific written permission of ST-Ericsson SA.

#nmf_linux uses the mmtools build system and the mmenv component, which defines
#the default flags, compiler, etc according to the target patform.

#where to find the common files for nmf_core and los files
#(must be relative to this directory)
NMF_CORE_ROOT = $(wildcard $(COMPONENT_TOP_DIR)/../osintegration)
# Trying 2 path: OSI-Linux file tree and OSI-Symbian file tree
LOS_ROOT      = $(wildcard $(COMPONENT_TOP_DIR)/../../los/osintegration $(COMPONENT_TOP_DIR)/../../../mmte/osi/los/osintegration)

#nmf_tools
NMF_TOOLS     = $(NMF_TOOLS_DIR)

LOS_SOURCES = nmf/utilities/src/error.c \
              test/nte/src/nmf_test.c \
              test/nte/src/th_output.c \
              test/nte/inc/th_output.h
