<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.stericsson.sdk.common.ui.editors.MespEditor"
            default="false"
            extensions="mesp"
            id="com.stericsson.sdk.common.ui.editors.mesp"
            name="MESP Editor">
      </editor>
      <editor
            class="com.stericsson.sdk.common.ui.editors.ProfileEditor"
            default="false"
            extensions="prfl"
            id="com.stericsson.sdk.common.ui.editors.profile"
            name="Profile Editor">
      </editor>
   </extension>
      <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.stericsson.sdk.flashkit"
            class="com.stericsson.sdk.common.ui.wizards.DefaultDataToolWizard"
            hasPages="true"
            icon="icons/ddstw.png"
            id="com.stericsson.sdk.common.ui.defaultdatatool.DefaultDataToolWizard"
            name="Default Data">
      </wizard>
      <wizard
            category="com.stericsson.sdk.flashkit"
            class="com.stericsson.sdk.common.ui.wizards.NewProfileWizard"
            hasPages="true"
            icon="icons/npw.png"
            id="com.stericsson.sdk.common.ui.wizards.NewProfileWizard"
            name="New Profile">
      </wizard>
   </extension>
</plugin>
