menu "MultimediaServices Configuration"

menu "Audio Configuration"
source "multimediaservices/alsa-utils/Kconfig"
source "multimediaservices/alsa-lib/Kconfig"
source "multimediaservices/audioservices/Kconfig"
endmenu

menu "Video Configuration"
source "multimediaservices/videoservices/Kconfig"
endmenu

menu "IQ Tuning Configuration"
source "multimediaservices/iqtservices/Kconfig"
endmenu

menu "Camera Configuration"
source "multimediaservices/cameraservices/Kconfig"
endmenu

endmenu
