*.o
x86/admd
x86/admtst
x86/dlog
dep/*
lib/*
.Android.mk.swp
*.orig
*~
doxygen/*
adm.sqlite
*.gcda
*.gcno
*.html
*.png
*gcov*
db/create_db
db/tmp/*
db/v1/create_db
db/v1/il_cfgdef.txt
db/v1/x86-gen_cfgdef
