CPPFLAGS+= -DDRC -I../../drc/effect/include   
CPPFLAGS+= -DVCSSE 
#ifneq ($(STE_PLATFORM),u9540)
#CPPFLAGS+= -DVCSCTM
#endif
#ifneq ($(STE_PLATFORM),l8540)
#CPPFLAGS+= -DVCSCTM
#endif
ifeq ($(STE_PLATFORM),u8500)
CPPFLAGS+= -DVCSCTM
endif

CPPFLAGS+= -DVCSCOMFORTNOISE -I../../comfortnoise/effect/include   
