_nmf_tmpdir/
test_report_u8500_v2-android*
nmfil/wrapper/test/misc_nmf_mmdsp*
nmfil/wrapper/test/*.rpt
.mmdsp_history
nmfil/wrapper/test/*/*/danse_of_furie*
nmfil/wrapper/test/*/*/build
nmfil/wrapper/test/*/*/cmd
nmfil/wrapper/test/*/*/*.rpt
nmfil/wrapper/test/*/*/*.log
nmfil/wrapper/test/*/*/.mmdsp_history
nmfil/wrapper/test/*/build
nmfil/wrapper/test/*/cmd*
nmfil/wrapper/test/*/*ports.outnmf*
nmfil/wrapper/test/*/*.rpt
nmfil/wrapper/test/*/*.log
