#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git-ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#

busybox/busybox-*/
busybox/patches/
gdb/gdb-*/
gdb/patches
genext2fs/genext2fs-*/
genext2fs/patches/
iptables/iptables-*/
libpng/libpng-*/
libroxml/libroxml-*/
libxml2/libxml2-*/
memtester/memtester-*/
memtester/patches/
ncurses/ncurses-*/
openssl/openssl-*/
openssl/patches/
ppp/ppp-*/
ppp/patches/
strace/strace-*/
tools/sk-utils/sk-utils
zlib/zlib-*/
zlib/patches/

# editors backup
*.swp
*.swo
*~
