<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            primary="true"
            file="toc.xml"/>
   </extension>
   <extension point="org.eclipse.ant.core.extraClasspathEntries">
  		<extraClasspathEntry 
			eclipseRuntime="false"
            headless="true"
			library="lib/ant4eclipse-0.5.0.rc1.jar"/>
		<extraClasspathEntry 
			eclipseRuntime="false"
            headless="true"
			library="lib/ecj.jar"/>
			<extraClasspathEntry 
			eclipseRuntime="false"
            headless="true"
			library="lib/org.eclipse.osgi_3.2.0.v20060601.jar"/>
   </extension>

</plugin>
