
menu "Tat Packages Configuration"
source "../tat/tat/tatlcoex/Kconfig"
source "../tat/tat/tatlsim/Kconfig"
source "../tat/tat/tatlrf/Kconfig"
source "../tat/tat/tatlmodem/Kconfig"
source "../tat/tat/tatlcharge/Kconfig"
source "../tat/tat/tatltest/Kconfig"
source "../tat/tat/tatlsd/Kconfig"
source "../tat/tat/tatldb/Kconfig"
source "../tat/tat/tatlpws/Kconfig"
source "../tat/tat/tatlhdmi/Kconfig"
source "../tat/tat/tatladc/Kconfig"
source "../tat/tat/tatlgps/Kconfig"
source "../tat/tat/tatlab/Kconfig"
source "../tat/tat/tatlvideo/Kconfig"
source "../tat/tat/tatliqtuning/Kconfig"
source "../tat/tat/tatlaudio/Kconfig"
source "../tat/tat/tattools/Kconfig"
source "../tat/tat/tatlmodemsrv/Kconfig"
source "../tat/tat/tatlsys/Kconfig"
endmenu
