*.d
*.o
*.so
*.tar.gz
*~
bin/
cops-api/*.cdepn
copsd/copsd
copsd/cscope.files
copsd/cscope.out
copsd/*.taf_id.*
cscope.*
html/
libcops.a
libcops_test.a
ltp
ltp-full-release
sipc/libsipcx/libcops_sipcx.a
ta/cops_ta.c
tempdir
test/cops_test/cops_test
test/sipcx/cops_sipcx_test
tmp/
tools/cops_cmd/cops_cmd
tools/cops_data/cops_data

libcops.*
copsdaemon
copsd/bootpartition.bin
copsd/bootpartition_sysfs_rolock.bin
copsd/bootpartition_sysfs_rwflag.bin
