<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="com.stericsson.thermal.test">
  <application>
    <uses-library android:name="android.test.runner" />
    <uses-library android:name="com.stericsson.thermal" />
    <activity android:name=".ThermalTests" android:label="ThermalTest">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.TEST" />
      </intent-filter>
    </activity>
  </application>

  <instrumentation android:name="android.test.InstrumentationTestRunner"
		   android:targetPackage="com.stericsson.thermal.test"
		   android:label="Test runner for Thermal API tests" />
</manifest>
