# -*- Mode: Makefile -*-
# vim:syntax=make:

ifeq ($(MMCOMPILER),android)
ROOTS_INSTALL_PATH:=/system/lib
else
ROOTS_INSTALL_PATH:=/usr/lib
endif

OMX_COMPONENTS_DIR:=ste_omxcomponents

ifeq ($(IS_OMX_COMPONENT_LIB),true)
INSTALL_SOLIB_DIR := $(MEDIUM_DIR)/rootfs/$(MMPLATFORM)$(ROOTS_INSTALL_PATH)/$(OMX_COMPONENTS_DIR)/
else
INSTALL_SOLIB_DIR := $(MEDIUM_DIR)/rootfs/$(MMPLATFORM)$(ROOTS_INSTALL_PATH)
endif
