
menu "DthFramework Packages Configuration"
source "../tat/DthFramework/spfs/Kconfig"
source "../tat/DthFramework/genAPIdoc/Kconfig"
source "../tat/DthFramework/dthhelper/dthsrvhelper/Kconfig"
source "../tat/DthFramework/dthhelper/dthfs/Kconfig"
source "../tat/DthFramework/libtatasync/Kconfig"
source "../tat/DthFramework/dthfilter/Kconfig"
source "../tat/DthFramework/include/Kconfig"
endmenu
