
menu "GeneralServices Packages Configuration"
source "../tat/generalservices/ab_ape/Kconfig"
source "../tat/generalservices/libab/Kconfig"
source "../tat/generalservices/libdb/Kconfig"
source "../tat/generalservices/libi2c/Kconfig"
source "../tat/generalservices/libtreedyn/Kconfig"
source "../tat/generalservices/dthtreedyn/Kconfig"
endmenu
