# -*- Mode: Makefile -*-
# vim:syntax=make:

# Config to be called from vc1dec* directories
## The MMDSP code is board specific
MMDSP_CODE_IS_BOARD_SPECIFIC:=true

export MODULE
MODULE = ../..

CORE=arm
include $(MMROOT)/video/makefiles/Make.nmf.config


# to create a lib
NMFCONFC +=--cpp 


CFLAGS += -g
ifeq ($(SELECTED_CONF),_sw) 
CPPFLAGS +=  -DNO_HAMAC
endif

ifdef NO_VFM
CPPFLAGS +=  -DNO_VFM
endif

CPPFLAGS += -D_CACHE_OPT_
# +CR334366 +CR332521 CHANGE START FOR 
CPPFLAGS += $(EXTRA_CPPFLAGS)
# -CR334366 -CR332521 CHANGE END OF

COMPONENTS+= vc1dec.arm_nmf.vc1dec$(SELECTED_CONF)
CONFFILES = vc1dec/arm_nmf/vc1dec$(SELECTED_CONF)/vc1dec$(SELECTED_CONF).conf resource_manager/resource_manager.conf
INSTALL_LIB = vc1dec$(SELECTED_CONF).lib


CPPFLAGS+= -D__VC1DEC__
CPPFLAGS+= -DNMF_BUILD -g  
CPPFLAGS+= -I../inc
CPPFLAGS+= -I$(MMROOT)/shared/nmf/think/api 
CPPFLAGS+= -I$(MMROOT)/shared/nmf/osintegration/hostsrc/inc
CPPFLAGS+= -I$(MMROOT)/video/include
CPPFLAGS+= -I$(MMROOT)/shared/include
CPPFLAGS+= -I$(MM_NMF_REPO_BOARD_DIR)
CPPFLAGS+= -I$(MMROOT)/video/components/common/nmf/arm/inc
CPPFLAGS+= -I$(TMPDIR)/vc1dec_arm_nmf_vc1dec$(SELECTED_CONF)/src/vc1dec/arm_nmf/

SRCPATH+= 	$(MM_IDT_DIR)
SRCPATH+= 	$(MMROOT)/video/vfm/include
#local idt files 
SRCPATH+=	$(MMROOT)/video/components/vc1dec/mpc/share/$(SVA_SUBSYSTEM)
SRCPATH+=   $(MMROOT)/video/components/vc1dec/mpc/share
SRCPATH+=   $(MMROOT)/video/components/vc1dec/arm_nmf/api
SRCPATH+=   $(MMROOT)/shared/nmf/tools/api/mpcee
#SRCPATH+=   $(MMROOT)/shared/nmf/tools/api/smpee


first_target : $(CONFFILES) all
include $(MMROOT)/video/makefiles/Make.nmf.rules

