# -*- Mode: Makefile -*-
# vim:syntax=make:

# Config to be called by makefiles from proxynmf and proxynmf_sw
## The MMDSP code is board specific
MMDSP_CODE_IS_BOARD_SPECIFIC:=true

export MODULE
MODULE = ../..
CORE = arm

ifdef NO_HAMAC
CPPFLAGS   += -DNO_HAMAC
SUFFIX      = _sw
else
SUFFIX      = 
endif

include $(MMROOT)/video/makefiles/Make.nmf.config
COMPONENT_TOP_DIR=../..

# Generic Data Dep (ens/nmf/host)
SRCPATH  += $(NMF)/$(MMSYSTEM)/api
SRCPATH  += $(MMROOT)/shared/ens/nmf/common
SRCPATH  += $(MMROOT)/shared/ens/nmf/host
SRCPATH  += $(MMROOT)/shared/ens/nmf/host/common
SRCPATH  += $(MMROOT)/shared/ens/nmf/host/fsm/component
SRCPATH  += $(MMROOT)/shared/ens/nmf/host/fsm/generic
SRCPATH  += $(MMROOT)/shared/osttrace/include
SRCPATH  += $(MMROOT)/video/components
SRCPATH  += $(MM_IDT_DIR)
SRCPATH  += $(MMROOT)/video/include
SRCPATH += $(COMPONENT_TOP_DIR)/mpc/share/$(SVA_SUBSYSTEM)
SRCPATH += $(COMPONENT_TOP_DIR)/mpc/share
SRCPATH += ../api
SRCPATH += $(MMROOT)/shared/nmf/tools/api/mpcee

CPPFLAGS += -I../ddep/inc
CPPFLAGS += -I../inc
CPPFLAGS += -I../api
CPPFLAGS += -I..
#CPPFLAGS += -I../../nmf_repository/$(MMPLATFORM)/vc1dec_arm_nmf_proxynmf$(SUFFIX)/src/vc1dec/arm_nmf
ifneq ($(MYMMSYSTEM),symbian)
CPPFLAGS += -I$(MMROOT)/shared/include
CPPFLAGS += -I$(MM_NMF_REPO_BOARD_DIR)
CPPFLAGS += -I$(COMPONENT_TOP_DIR)/../common/nmf/arm/inc
CPPFLAGS += -I$(MMROOT)/video/include
CPPFLAGS += -I$(MM_IDT_DIR)
endif
CPPFLAGS += -I$(MMROOT)/video/components/common/nmf/arm/inc
# OST capability
include $(COMPONENT_TOP_DIR)/make.ost_conf
OST_SRC_DIR = ../ddep/src ../decoder/src 
OST_COMPONENT_ID = $(OST_COMPONENT_ID_NMF_ARM)
OST_DICO_NAME = $(OST_COMPONENT_NAME)_nmf_arm
CPPFLAGS  += -I$(COMPONENT_TOP_DIR)/inc/autogentraces

CPPFLAGS += -DNMF_BUILD
CPPFLAGS += -D__VC1DEC__
CPPFLAGS += -D_CACHE_OPT_
# +CR334366 +CR332521 CHANGE START FOR
CPPFLAGS += $(EXTRA_CPPFLAGS)
# -CR334366 -CR332521 CHANGE END OF

# Profile/Level
CPPFLAGS += -DAP_L2

CONFFILES = vc1dec/arm_nmf/ddep/ddep.conf
CONFFILES += resource_manager/resource_manager.conf
CONFFILES += vc1dec/arm_nmf/vc1dec$(SUFFIX)/vc1dec$(SUFFIX).conf
CONFFILES += vc1dec/arm_nmf/proxynmf$(SUFFIX)/proxynmf$(SUFFIX).conf 

COMPONENTS = vc1dec.arm_nmf.proxynmf$(SUFFIX)

INSTALL_LIB = proxynmf$(SUFFIX).lib

GROUP_PATH = $(MMROOT)/video/components/vc1dec
ifdef NO_HAMAC
GROUP_NAME = $(SYMBIAN_VARIANT_NAME)/group/sw
SYMBIAN_PRJNAME = vc1swproxynmf
else
GROUP_NAME = $(SYMBIAN_VARIANT_NAME)/group/hw
SYMBIAN_PRJNAME = vc1hwproxynmf
endif

# OST capability
include $(MMROOT)/video/components/vc1dec/make.ost_conf
OST_SRC_DIR = ../ddep/src ../decoder/src 
OST_COMPONENT_ID = $(OST_COMPONENT_ID_NMF_ARM)
OST_DICO_NAME = $(OST_COMPONENT_NAME)_nmf_arm
CPPFLAGS  += -I$(MMROOT)/video/components/vc1dec/inc/autogentraces

SYMBIAN_COMPONENTS = proxynmf$(SUFFIX)

SYMBIAN_EXTRA_MMP_FLAG += "SMPSAFE"
SYMBIAN_EXTRA_MMP_FLAG += "OPTION armcc --cpp"

SYMBIAN_SYSTEMINCLUDE +=/epoc32/include/assp/nomadik/nmf/share
SYMBIAN_SYSTEMINCLUDE +=/epoc32/include/osi/shared
SYMBIAN_SYSTEMINCLUDE +=/epoc32/include/osi/shared/nmf
SYMBIAN_SYSTEMINCLUDE +=/epoc32/include/osi/shared/host
SYMBIAN_SYSTEMINCLUDE +=/epoc32/include/osi/video

SYMBIAN_USERINCLUDE_EXTRA += "../../../arm_nmf/api"
SYMBIAN_USERINCLUDE_EXTRA += "../../../.."
SYMBIAN_USERINCLUDE_EXTRA += "../../../nmf_repository/generated"
SYMBIAN_USERINCLUDE_EXTRA += "../../../nmf_repository/generated/vc1dec/arm_nmf"
SYMBIAN_USERINCLUDE_EXTRA += "../../../nmf_repository/generated/proxynmf$(SUFFIX)"
SYMBIAN_USERINCLUDE_EXTRA += "../../../nmf_repository/generated/proxynmf$(SUFFIX)/src"
SYMBIAN_USERINCLUDE_EXTRA += "../../../nmf_repository/generated/proxynmf$(SUFFIX)/src/vc1dec/arm_nmf"
SYMBIAN_USERINCLUDE_EXTRA += "../../../mpc/share"

ifeq ($(MYMMSYSTEM),symbian)
ifndef NO_HAMAC
EXTRA_ALL=symb-libmmp
endif
endif

#-------------------------------
# Generic Rules
#-------------------------------
include $(MMROOT)/video/makefiles/Make.nmf.rules
ifndef NO_HAMAC
include $(MMROOT)/video/makefiles/Make.symbian.rules
endif
