# Ignore temporary editor files
*~
*.swp
*.project
*.cproject
*.o
*.metadata
*Debug/
*.a
*.gcda
*.gcno
*.orig
*.info
covtestfolder/
# Ignore whitebox-test executable
internal/white_box_test/white_box_test
valgrind_result.txt
